<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>notes App</title>
    <link rel="stylesheet" href="/static/main.css">
  </head>





<!-- the modal popub window that ask the user to put his name and say welcome to him (the scripting is below) -->
  <body>
    <div id="modal">
      <div class="modal-content">
        <h2 class="welcome"><span>W</span>elcome!</h2>
        <p class="enter">Please enter your name:</p>
        <input type="text" id="nameInput" />
        <button id="saveBtn">Save</button>
      </div>
    </div>







<!-- the header that have the head of the notes  -->
    <div class="header">
      <h1><span>N</span>ote <span>A</span>pp</h1>
      <h2 id="welcome"></h2>
      <h2 id="greeting"></h2>
      <h3>creat a new note :</h3>
      <form action="/add_note" method="post">
        <input
          type="text"
          id="search"
          name="note_text"
          placeholder="Type a note:..."
          style="color: gray"
          required
        />
        <!-- the inputs field and the search field of colors -->
        <select id="search" name="note_color">
          <option value="Yellow">Yellow</option>
          <option value="Blue">Blue</option>
          <option value="Pink">Pink</option>
          <option value="Red">Red</option>
          <option value="Green">Green</option>
          <option value="Orange">Orange</option>
          <option value="Brown">Brown</option>
          <option value="Grey">Grey</option>
          <!-- the submit button -->
        </select>
        <button type="submit" id="button">Add Note</button>
      </form>
      <!-- search field and its button -->
      <form action="/search">
        <input
          id="search"
          type="search"
          name="search"
          placeholder="Searching..."
          required
        />
        <button type="submit" id="button">Search</button>
      </form>

      <!-- the clear button -->
      <form action="/clear_all" method="get">
        <button id="button">Clear</button>
      </form>
    </div>




<script src="/static/main.js"></script>

<!-- looping on notes -->
    <div class="note_container">
      {%for note in notes%}
      <div class="note {{ note.color }}">
        <p>{{ note.text }}</p>
        <form action="/delete_note/{{ loop.index0 }}" method="post">
          <button type="submit" id="button">Delete Note</button>
        </form>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
